<footer>
    <div class="row">
      <section class="col-12 col-sm-6 col-lg">
        <div class="footersubmenuopciones">
          <input type="checkbox" class="MenuDesple-footer" />
          <label>Sobre nosotros</label>
          <div class="Expansion">
            <ul>
              <li><a href="https://www.starbucksathome.com/pe/story/acerca-de-nosotros" target="_blank" rel="noopener noreferrer">NuestraCompañía</a></li>
              <li><a href="MERCH.html">Nuestro Café</a></li>
              <li><a href="#">Servicio al Cliente</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="col-12 col-sm-6 col-lg">
        <div class="footersubmenuopciones">
          <input type="checkbox" class="MenuDesple-footer" />
          <label>Compras</label>
          <div class="Expansion">
            <ul>
              <li><a href="indexMENU.html">Pedidos por la Web</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="col-12 col-sm-6 col-lg">
        <div class="footersubmenuopciones">
          <input type="checkbox" class="MenuDesple-footer" />
          <label>Nuestra Cultura</label>
          <div class="Expansion">
            <ul>
              <li><a href="https://www.starbucks.pe/pages/culture-and-values" target="_blank" rel="noopener noreferrer">Cultura y Valores</a></li>
              <li><a href="#">Trabaja con nosotros</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="col-12 col-sm-6 col-lg">
        <div class="footersubmenuopciones">
          <input type="checkbox" class="MenuDesple-footer" />
          <label>Políticas</label>
          <div class="Expansion">
            <ul>
              <li><a href="https://www.starbucksathome.com/pe/terminos-y-condiciones" target="_blank" rel="noopener noreferrer">Política de Privacidad App, Web y Starbucks Rewards</a></li>
              <li><a href="#">Términos y condiciones de promociones</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  
    <div class="separate">
      <div class="reclamaciones">
        <a href="reclamaciones.html" class="logo"><img src="img/reclamaciones.png" alt="Reclamaciones" /></a>
      </div>
      <ul class="wrapper">
        <li class="icon facebook">
          <a href="https://www.facebook.com/StarbucksEspana" target="_blank" rel="noopener noreferrer">
            <span class="tooltip">Facebook</span>
            <img src="https://i.pinimg.com/564x/62/a5/10/62a510f95ac3130d81edfaac6d00e555.jpg" alt="Facebook" />
          </a>
        </li>
        <li class="icon twitter">
          <a href="https://x.com/starbucks_es" target="_blank" rel="noopener noreferrer">
            <span class="tooltip">Twitter</span>
            <img src="https://i.pinimg.com/564x/a0/17/a6/a017a680ddc8cffc4dee55f75dc864c5.jpg" alt="Twitter" />
          </a>
        </li>
        <li class="icon instagram">
          <a href="https://www.instagram.com/starbucks_es/" target="_blank" rel="noopener noreferrer">
            <span class="tooltip">Instagram</span>
            <img src="https://i.pinimg.com/564x/f5/85/6f/f5856f110de3dd93be08a313e6c4e537.jpg" alt="Instagram" />
          </a>
        </li>
        <li class="icon tiktok">
          <a href="https://www.tiktok.com/@starbucks_es?lang=es" target="_blank" rel="noopener noreferrer">
            <span class="tooltip">TikTok</span>
            <img src="https://i.pinimg.com/564x/9b/19/d2/9b19d28abb90fe95609ae0431de4cf73.jpg" alt="TikTok" />
          </a>
        </li>
      </ul>
      <div onclick="scrollToTop()" class="btn-scroll-top"></div>
    </div>
  </footer>
  
  <!-- Scripts JS -->
  <script src="assets/JavaScript/footer.js"></script>
  <script src="assets/JavaScript/menu.js"></script>
  <script src="assets/JavaScript/script.js"></script>